{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'assets/config.js' %}"></script>
    <script src="{% static 'js/profileEdit.js' %}"></script>
    <title>signin</title>
    <link rel="stylesheet" href="{% static 'css/config.css' %}" />
  </head>
  <body>
    <div class="relative content bg-gray-50 divide-y divider-gray-200">
      <nav class="bg-white border-gray-200">
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-2"
        >
          <a href="{% url 'main:index' %}" class="flex items-center">
            <img src="{% static 'assets/cloud_3d.png' %}" class="h-12 mr-3" />
          </a>
        </div>
      </nav>

      <!--수정 컴포넌트-->

      <section class="bg-gray-50 dark:bg-gray-900">
        <div
          class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
        >
          <a
            href="#"
            class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
          >
            <img
              class="w-10 h-10 mr-2"
              src="{% static 'assets/sun_with_face_3d.png' %}"
              alt="logo"
            />
            프로필 수정하기
          </a>
          <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <form class="space-y-4 md:space-y-6" action="{% url 'account:user_update' %}" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                  <div class=" flex justify-center" id = "imageContainer">
                    <img
                      id = "profileImage"

                      class="w-24 h-24 m-3 rounded-full shadow-lg"
                      src="{{user.image.url}}"
                      alt="Bonnie image"
                    />
                  </div>

                    <input class="flex justify-center" type="file" id = "profileInput" name = "image" accept="image/*">

                </div>
                <div>
                  <label
                    for="username"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >닉네임</label
                  >
                  <input
                    type="text"
                    name="nickname"
                    id="username"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="닉네임을 입력해주세요"
                    value = "{{user.nickname}}"
                    required=""
                  />
                </div>

                <div>
                  <label
                    for="introduce"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >한줄소개</label
                  >
                  {% if user.introduction %}
                    <input
                      type="text"
                      name="introduce"
                      id="introduce"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="한줄소개를 입력해주세요"
                      value = "{{user.introduction}}"
                      required=""
                    />
                  {% else %}
                    <input
                      type="text"
                      name="introduce"
                      id="introduce"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="한줄소개를 입력해주세요"
                      required=""
                    />
                  {% endif %}
                </div>

                <button
                  type="submit"
                  id = "updateUserBt"
                  class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-m px-5 py-2.5 text-center"
                >
                  저장하기
                </button>
                <input type = "submit" id = "updateUserSb" style = "display:none;">
              </form>
            </div>
          </div>
        </div>
      </section>

      <div class="w-full max-w-sm rounded-lg"></div>
    </div>
  </body>
</html>
